* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font: 1.4rem/1.4 'chaparral-pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}
h1,
h2,
h3 {
  font-family: proxima-nova-sc-osf, sans-serif;
  font-weight: 600;
  text-transform: lowercase;
}
h1:first-child,
h2:first-child,
h3:first-child {
  margin-top: 0;
}
h1 {
  text-align: center;
  font-size: 2rem;
}
h3 {
  font-size: 1.7rem;
  font-weight: 400;
}
a.more {
  color: #d45228;
  font-family: proxima-nova-sc-osf, sans-serif;
  font-weight: 600;
  text-transform: lowercase;
  text-decoration: none;
}
a.more:hover {
  color: #973819;
}
section:after {
  content: '';
  display: table;
  clear: both;
}
.module {
  padding: 5em 0;
}
.module.color-1 {
  background-color: #eff8fa;
}
.module.color-2 {
  background-color: #242433;
}
.module.color-3 {
  background-color: #d1e4da;
}
.module.color-4 {
  background-color: #fff;
}
.module.color-5 {
  background-color: #f0edee;
}
figure {
  margin: 0.3rem 1rem 0.3rem 0;
  float: left;
  width: 50%;
}
figure img {
  display: block;
  width: 100%;
}
.container {
  margin: 0 auto;
  width: 50rem;
  padding: 0 1rem;
}
.container.narrow {
  width: 40rem;
}
.tagline {
  width: 40rem;
  font-size: 1.5rem;
  text-align: center;
}
.columns .column {
  float: left;
  padding: 1rem;
}
.columns .column.centered-content {
  text-align: center;
}
.columns.two .column {
  width: 50%;
}
.columns.three .column {
  width: 33.3333333%;
}
.columns:after {
  content: '';
  display: table;
  clear: both;
}
header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  line-height: 0;
  background-color: #352d33;
}
header .branding {
  display: inline-block;
}
header .branding a {
  height: 2.5rem;
  display: block;
  padding: 6px;
}
header .branding img {
  display: block;
  height: 100%;
  object-fit: contain;
}
header nav {
  height: 2.5rem;
  display: inline-block;
  float: right;
  font-size: 1.3rem;
}
header nav a {
  display: inline-block;
  margin-left: 0.2rem;
  line-height: 2.5rem;
  height: 2.5rem;
  text-decoration: none;
  font-family: proxima-nova-sc-osf, sans-serif;
  font-weight: 300;
  text-transform: lowercase;
  padding: 0 0.8rem;
  color: #fff;
}
header nav a:hover {
  background-color: #598ec9;
  text-decoration: none;
}
footer {
  padding-top: 2rem;
  background-color: #7acccc;
  color: #fff;
  font-size: 0.8125rem;
}
footer a {
  display: inline-block;
  color: #fff;
  padding: 0.3em 0.5em;
  text-transform: lowercase;
  transition: all 0.2s;
  text-decoration: none;
}
footer a:hover {
  color: #000;
}
.button {
  display: inline-block;
  text-decoration: none;
  user-select: none;
  padding: 0.5rem 1.5rem;
}
.overlay.container {
  position: relative;
  z-index: 1;
  color: #fff;
  text-align: center;
}
.overlay.container h1 {
  font-weight: normal;
  font-size: 3rem;
  font-family: ff-market-web, sans-serif;
  margin: 2rem 0 1rem;
}
.overlay.container .join.button {
  display: inline-block;
  font-size: 1.5rem;
  transition: all 0.3s;
  text-transform: lowercase;
  font-family: proxima-nova-sc-osf, sans-serif;
  font-weight: 700;
  border: 2px solid #fff;
  color: #fff;
  padding: 0.5rem 3rem;
}
.overlay.container .join.button:hover {
  color: #fff;
  background-color: #d45228;
  border-color: #d45228;
}
.credit {
  display: block;
  padding: 0.2rem 2rem;
  color: #d45228;
  font-family: proxima-nova-sc-osf, sans-serif;
  font-weight: 600;
  text-transform: lowercase;
  text-decoration: none;
}
.credit:hover {
  color: #973819;
}
.company.column {
  text-align: center;
}
.company.column img {
  display: block;
  height: 2rem;
  margin: 0 auto;
  position: relative;
  left: -10px;
}
.company.column .name {
  color: #000;
  margin: 0.5em 0 0.2em;
  line-height: 1;
  font-size: 1rem;
}
.company.column .copyright {
  font-size: 0.8125rem;
  text-transform: lowercase;
  color: #555;
  line-height: 1;
}
.group():after {
  content: '';
  display: block;
  clear: both;
}
.team-member {
  margin: 5rem 0;
}
.team-member:last-child {
  margin-bottom: 0;
}
.team-member img {
  float: left;
  display: block;
  width: 8rem;
  height: 8rem;
  border-radius: 4rem;
  border: 2px solid #fff;
}
.team-member .content {
  padding-left: 10rem;
}
.slides {
  position: relative;
  height: 36rem;
  text-align: left;
  overflow: hidden;
}
.slide {
  height: 36rem;
  display: none;
}
.slide .overlay {
  position: relative;
  top: 4rem;
  left: 3rem;
}
.slide img {
  position: absolute;
  display: block;
  object-fit: cover;
  width: 100%;
  height: 36rem;
}
.slide .message {
  background-color: #352d33;
  color: #fff;
  display: inline;
  font-size: 1.8rem;
  line-height: 1.8;
  padding: 1px 0 1px;
  font-family: proxima-nova-sc-osf, sans-serif;
  text-transform: lowercase;
  border-bottom: 3px solid #457ab5;
}
.slide .details {
  margin-top: 1rem;
  font-weight: 200;
  font-size: 1.3rem;
  font-family: proxima-nova-sc-osf, sans-serif;
  text-transform: lowercase;
  background-color: #626262;
  color: #fff;
  width: 50%;
  padding: 0.1rem 0.6rem 0.2rem;
}
.slide .details strong {
  color: #e7df45;
  font-weight: 100;
}
.slide .slide-controls {
  margin-top: 3rem;
}
.slide .slide-controls .prev {
  display: inline-block;
  height: 2rem;
  vertical-align: top;
  background-color: #598ec9;
  color: #fff;
  text-decoration: none;
  user-select: none;
  padding: 0.1rem 0.2rem 0.2rem;
}
.slide .slide-controls .prev:hover {
  cursor: pointer;
  background-color: #437fc2;
}
.slide .slide-controls .prev.disabled {
  background-color: #999;
}
.slide .slide-controls .prev.disabled:hover {
  cursor: inherit;
  background-color: #999;
}
.slide .slide-controls .next {
  display: inline-block;
  height: 2rem;
  vertical-align: top;
  background-color: #598ec9;
  color: #fff;
  font-family: proxima-nova-sc-osf, sans-serif;
  text-transform: lowercase;
  text-decoration: none;
  user-select: none;
  padding: 0.1rem 0.8rem 0.2rem;
}
.slide .slide-controls .next:hover {
  cursor: pointer;
  background-color: #437fc2;
}
.slide .play {
  display: inline-block;
  font-size: 1.8rem;
  position: absolute;
  bottom: 5rem;
  right: 4rem;
  background-color: #e31819;
  color: #fff;
  font-family: proxima-nova-sc-osf, sans-serif;
  text-transform: lowercase;
  display: inline-block;
  text-decoration: none;
  user-select: none;
  padding: 0.1rem 0.8rem 0.2rem;
}
.slide .play:hover {
  cursor: pointer;
  background-color: #cc1616;
}
.slide .open-game {
  display: inline-block;
  font-size: 1.8rem;
  position: absolute;
  bottom: 2rem;
  right: 4rem;
  background-color: #ffeca1;
  color: #1c1b24;
  font-family: proxima-nova-sc-osf, sans-serif;
  text-transform: lowercase;
  display: inline-block;
  text-decoration: none;
  user-select: none;
  padding: 0.1rem 0.8rem 0.2rem;
}
.slide .open-game:hover {
  cursor: pointer;
  background-color: #d0a600;
}
