
body-font-family = 'chaparral-pro', 'Helvetica Neue', Helvetica, Arial, sans-serif
link-color = rgb(89, 142, 201)


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font: 1.4rem/1.4 body-font-family;
    color: #333;
}

h1, h2, h3 {
    font-family: proxima-nova-sc-osf, sans-serif;
    font-weight: 600;
    text-transform: lowercase;

    &:first-child {
        margin-top: 0;
    }
}

h1 {
    text-align: center;
    font-size: 2rem;
}

h3 {
    font-size: 1.7rem;
    font-weight: 400;
}

a.more {
    color: #d45228;

    font-family: proxima-nova-sc-osf, sans-serif;
    font-weight: 600;
    text-transform: lowercase;
    text-decoration: none;

    &:hover {
        color: #973819;
    }
}

section:after {
    content: '';
    display: table;
    clear: both;
}

.module {
    padding: 5em 0;

    &.color-1 {
        background-color: #eff8fa;
    }
    &.color-2 {
        background-color: #242433;
    }
    &.color-3 {
        background-color: #d1e4da;
    }
    &.color-4 {
        background-color: white;
    }
    &.color-5 {
        background-color: #f0edee;
    }
}

figure {
    margin: .3rem 1rem .3rem 0;
    float: left;
    width: 50%;


    img {
        display: block;
        width: 100%;
    }
}

.container {
    margin: 0 auto;
    width: 50rem;
    padding: 0 1rem;

    &.narrow {
        width: 40rem;
    }
}

.tagline {
    width: 40rem;
    font-size: 1.5rem;
    text-align: center;
}

.columns {
    .column {
        float: left;
        padding: 1rem;

        &.centered-content {
            text-align: center;
        }
    }

    &.two .column {
        width: 50%;
    }

    &.three .column {
        width: 33.3333333%;
    }

    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

header-height = 2.5rem;

header {
    position: absolute;
    left: 0;
    right: 0;

    z-index: 2;
    line-height: 0;

    background-color: #352d33;

    .branding {
        display: inline-block;

        a {
            height: header-height;
            display: block;
            padding: 6px;
        }

        img {
            display: block;
            height: 100%;
            object-fit: contain;
        }
    }

    nav {
        height: header-height;
        display: inline-block;
        float: right;
        font-size: 1.3rem;

        a {
            display: inline-block;

            margin-left: .2rem;
            line-height: header-height;
            height: header-height;
            text-decoration: none;

            font-family: proxima-nova-sc-osf, sans-serif;
            font-weight: 300;
            text-transform: lowercase;

            padding 0 .8rem

            color: white;

            &:hover {
                background-color: link-color;
                text-decoration: none;
            }
        }
    }
}

footer {
    padding-top: 2rem;
    background-color: #7ACCCC;
    color: white;
    font-size: .8125rem;

    a {
        display: inline-block;
        color: white;
        padding: .3em .5em;
        text-transform: lowercase;
        transition: all .2s;
        text-decoration: none;$

        &:hover {
            color: black;
        }
    }
}

.button {
    display: inline-block;
    text-decoration: none;
    user-select: none;

    padding: .5rem 1.5rem;
}

.overlay.container {
    position: relative;
    z-index: 1;

    color: white;
    text-align: center;

    h1 {
        font-weight: normal;
        font-size: 3rem;
        font-family: ff-market-web, sans-serif;
        margin: 2rem 0 1rem;
    }

    .join.button {
        display: inline-block;
        font-size: 1.5rem;

        transition: all .3s;

        text-transform: lowercase;
        font-family: proxima-nova-sc-osf, sans-serif;
        font-weight: 700;

        border: 2px solid white;
        color: white;

        padding: .5rem 3rem;

        &:hover {
            color: white;
            background-color: #d45228;
            border-color: #d45228;
        }
    }
}

.credit {
    display: block;
    padding: .2rem 2rem;
    color: #d45228;

    font-family: proxima-nova-sc-osf, sans-serif;
    font-weight: 600;
    text-transform: lowercase;
    text-decoration: none;

    &:hover {
        color: #973819;
    }
}

.company.column {
    text-align: center;
}
.company.column img {
    display: block;
    height: 2rem;
    margin: 0 auto;
    position: relative;
    left: -10px;
}

.company.column .name {
    color: black;
    margin: .5em 0 .2em;
    line-height: 1;
    font-size: 1rem;
}
.company.column .copyright {
    font-size: .8125rem;
    text-transform: lowercase;
    color: #555;
    line-height: 1;
}

.group() {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

.team-member {
    margin: 5rem 0;

    &:last-child {
        margin-bottom: 0;
    }

    img {
        float: left;
        display: block;
        width: 8rem;
        height: 8rem;
        border-radius: 4rem;
        border: 2px solid white;
    }
    .content {
        padding-left: 10rem;
    }
}

.slides {
    position: relative;
    height: 36rem;
    text-align: left;

    overflow: hidden;
}

.slide {
    height: 36rem;

    display: none;

    .overlay {
        position: relative;
        top: 4rem;
        left: 3rem;
    }

    img {
        position: absolute;
        display: block;
        object-fit: cover;
        width: 100%;
        height: 36rem;
    }

    .message {
        background-color: rgb(53, 45, 51);
        color: white;
        display: inline;

        font-size: 1.8rem;
        line-height: 1.8;
        padding: 1px 0 1px;

        font-family: proxima-nova-sc-osf, sans-serif;
        text-transform: lowercase;

        border-bottom: 3px solid rgb(69, 122, 181);
    }

    .details {
        margin-top: 1rem;

        font-weight: 200;
        font-size: 1.3rem;

        font-family: proxima-nova-sc-osf, sans-serif;
        text-transform: lowercase;

        background-color: #626262;
        color: white;

        width: 50%;

        padding: .1rem .6rem .2rem;

        strong {
            color: #E7DF45;
            font-weight: 100;
        }
    }

    .next {
        display: inline-block;
        margin-top: 3rem;

        background-color: #598ec9;
        color: white;

        font-family: proxima-nova-sc-osf, sans-serif;
        text-transform: lowercase;

        display: inline-block;
        text-decoration: none;
        user-select: none;

        padding: .1rem .8rem .2rem;

        &:hover {
            cursor: pointer;
            background-color: darken(#598ec9, 10%);
        }
    }

    .play {
        display: inline-block;

        font-size: 1.8rem;

        position: absolute;
        bottom: 2rem;
        right: 4rem;

        background-color: #e31819;
        color: white;

        font-family: proxima-nova-sc-osf, sans-serif;
        text-transform: lowercase;

        display: inline-block;
        text-decoration: none;
        user-select: none;

        padding: .1rem .8rem .2rem;

        &:hover {
            cursor: pointer;
            background-color: darken(#e31819, 10%);
        }
    }
}
