
body-font-family = 'chaparral-pro', 'Helvetica Neue', Helvetica, Arial, sans-serif
link-color = rgb(89, 142, 201)


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font: 1.4rem/1.4 body-font-family;
    color: #333;
}

h1, h2, h3 {
    font-family: proxima-nova-sc-osf, sans-serif;
    font-weight: 600;
    text-transform: lowercase;

    &:first-child {
        margin-top: 0;
    }
}

h1 {
    text-align: center;
    font-size: 2rem;
}

h3 {
    font-size: 1.7rem;
    font-weight: 400;
}

a.more {
    color: #d45228;

    font-family: proxima-nova-sc-osf, sans-serif;
    font-weight: 600;
    text-transform: lowercase;
    text-decoration: none;

    &:hover {
        color: #973819;
    }
}

section:after {
    content: '';
    display: table;
    clear: both;
}

.module {
    padding: 5em 0;

    &.color-1 {
        background-color: #eff8fa;
    }
    &.color-2 {
        background-color: #242433;
    }
    &.color-3 {
        background-color: #d1e4da;
    }
    &.color-4 {
        background-color: white;
    }
    &.color-5 {
        background-color: #f0edee;
    }
}

figure {
    margin: .3rem 1rem .3rem 0;
    float: left;
    width: 50%;


    img {
        display: block;
        width: 100%;
    }
}

.container {
    margin: 0 auto;
    width: 50rem;
    padding: 0 1rem;

    &.narrow {
        width: 40rem;
    }
}

.tagline {
    width: 40rem;
    font-size: 1.5rem;
    text-align: center;
}

.columns {
    .column {
        float: left;
        padding: 1rem;

        &.centered-content {
            text-align: center;
        }
    }

    &.two .column {
        width: 50%;
    }

    &.three .column {
        width: 33.3333333%;
    }

    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

header-height = 3rem;

header {
    margin: 1rem 0;

    .branding {
        display: inline-block;

        img {
            height: header-height;
        }
    }

    nav {
        height: header-height;
        display: inline-block;
        float: right;
        font-size: 1.3rem;

        > div {
            line-height: header-height;
            display: inline-block;
            margin-left: .2rem;
        }

        a {
            position: relative;
            line-height: 1;
            text-decoration: none;

            font-family: proxima-nova-sc-osf, sans-serif;
            font-weight: 300;
            text-transform: lowercase;

            padding .3rem .8rem

            color #291f47;

            &:hover {
                color: white;
                background-color: link-color;
                text-decoration: none;
            }
        }
    }
}

footer {
    padding-top: 2rem;
    background-color: #7ACCCC;
    color: white;
    font-size: .8125rem;

    a {
        display: inline-block;
        color: white;
        padding: .3em .5em;
        text-transform: lowercase;
        transition: all .2s;
        text-decoration: none;$

        &:hover {
            color: black;
        }
    }
}

.banner {
    height: 500px;
    overflow: hidden;
    text-align: center;
    background-color: #7d92b7;

    .banner-image {
        position: relative;
        width: 0;
        margin: 0 auto;
    }

    img {
        position: absolute;
        width: 1245px;
        left: -622.5px;
    }
}

.button {
    display: inline-block;
    text-decoration: none;
    user-select: none;

    padding: .5rem 1.5rem;
}

.overlay.container {
    position: relative;
    z-index: 1;

    color: white;
    text-align: center;

    h1 {
        font-weight: normal;
        font-size: 3rem;
        font-family: ff-market-web, sans-serif;
        margin: 2rem 0 1rem;
    }

    .join.button {
        display: inline-block;
        font-size: 1.5rem;

        transition: all .3s;

        text-transform: lowercase;
        font-family: proxima-nova-sc-osf, sans-serif;
        font-weight: 700;

        border: 2px solid white;
        color: white;

        padding: .5rem 3rem;

        &:hover {
            color: white;
            background-color: #d45228;
            border-color: #d45228;
        }
    }
}

.credit {
    display: block;
    padding: .2rem 2rem;
    color: #d45228;

    font-family: proxima-nova-sc-osf, sans-serif;
    font-weight: 600;
    text-transform: lowercase;
    text-decoration: none;

    &:hover {
        color: #973819;
    }
}

.company.column {
    text-align: center;
}
.company.column img {
    display: block;
    height: 2rem;
    margin: 0 auto;
    position: relative;
    left: -10px;
}

.company.column .name {
    color: black;
    margin: .5em 0 .2em;
    line-height: 1;
    font-size: 1rem;
}
.company.column .copyright {
    font-size: .8125rem;
    text-transform: lowercase;
    color: #555;
    line-height: 1;
}

.group() {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

.team-member {
    margin: 5rem 0;

    &:last-child {
        margin-bottom: 0;
    }

    img {
        float: left;
        display: block;
        width: 8rem;
        height: 8rem;
        border-radius: 4rem;
        border: 2px solid white;
    }
    .content {
        padding-left: 10rem;
    }
}
